@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

$orange: #ff851b;
$green: #246145;
$blue: #5bb7db;
$red: #ff4136;

$primary: #4a4a4a !default;
$link: $green;

$info-invert: #fff;

$family-sans-serif: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial,
  sans-serif;

$thickness: 1px;

$pagination-current-border: darken($primary, 5);

$navbar-item-active-color: $primary;

$dropdown-content-shadow: 0 0 0 1px #dbdbdb, 0 #{$thickness} 0 1px #dbdbdb;

$navbar-dropdown-boxed-shadow: $dropdown-content-shadow;

$bulmaswatch-import-font: false;

$box-shadow: none;

$input-background-color: #fafafa;
$input-placeholder-color: #D3D3D3;

.button {
  &.is-hovered,
  &:hover {
    border-bottom-width: $thickness !important;
  }
}

.is-borderless {
  border: none !important;
}

.is-striked {
  text-decoration: line-through;
}

.is-space-preline {
  white-space: pre-line;
}

.has-text-nowrap {
  white-space: nowrap;
}

h1.is-1.title {
  letter-spacing: -3px;
}

.is-outlined, .is-outlined:hover {
  color: white !important;
  background: none !important;
}

input,
select {
  background-color: $input-background-color !important;
}

.select select:not([multiple]) {
  height: 2.5em !important;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: hsl(0, 0%, 86%) !important;
}

.tag.is-light {
  color: hsl(0, 0%, 29%);
  background-color: #fff !important;
  border: 1px solid #f5f5f5 !important;
}

$vs-component-line-height: 1.9;
$vs-component-placeholder-color: $input-placeholder-color;
$vs-border-color:  hsl(0, 0%, 86%);

$vs-state-active-bg: $green;

.is-danger .vs__dropdown-toggle {
  border: 1px solid $red !important;
}

.vs__dropdown-toggle {
  background-color: $input-background-color !important;
}

.box {
  box-shadow: none !important;
  height: 100%;
}


@import "vue-loading-overlay/dist/vue-loading";
@import "vue-select/src/scss/vue-select.scss";
@import '~bulma';
@import '~bulmaswatch/lumen/_overrides';